{% extends "static/base.html"%}
{% load staticfiles %}
{% block body %}
      <!----start-header---->

		<!----//End-header---->
		<!----//start-banner---->
		<div  style="height:500px;">
  			<div class="col-md-6 col-md-offset-3" style="padding-top: 30px;" >
				<div class="content_white" style="line-height: 1em;text-align: left;">
					<h2 style="text-align: center;"> About Us</h2>
					<p><i>The Directorate of Corporate & Industry Relations (CIR) is
						a unique and dedicated department of “Amrita Vishwa Vidyapeetham”,
						established to provide expert guidance to students in specific areas
						beyond their regular academic curriculum and help them fulfill their career ambitions.  </i></p>
					<p><i>CIR empowers students with adequate Life Skills and domain skills so that they graduate
						from the University as competent and confident individuals who can take on the never-ending
						challenges of the industry.</i> </p>
					<p><i>The University management has demonstrated its commitment to this important function by
						facilitating excellent infrastructure, human and other resources, in every campus.</i></p>
					<p><i>The Directorate of Corporate & Industry Relations (CIR) strives to achieve excellent
						placement of students each year. A proven track record of consistent high quality
						placements year-on-year is one of the reasons for many bright students opting
						for admissions in Amrita. </i></p>
		   		</div>
			</div>


				<div class="col-md-6" >
					<div class="container-top" >
		<!--contact-->


</div>
			</div>
		</div>

		<!----//end-banner---->
		<!----//start-content---->

		   </div>
		  </div>
		</div>

		<div class="footer">
			<div class="footer_top" style="padding-top: 30px;" >
				<div class="container">
					<div class="footer_head" >
						<p><b>Amrita Vishwa Vidyapeetham</b></p>
						<p>Amritapuri, Clappana P.O, Kerala 690525</p>
		   			</div>
			   </div>
		     </div>
		     <div class="footer_midle">
			   	<div class='container'>
			   	 <div class="row">
			   		<div class="col-md-4">
			   		    <ul class="social_left">
			   			  <li class="facebook"><a href="#"><i class="fb"> </i></a></li>
			   			  <li class="fb_text"><h4><a href="#">Follow us on Facebook</a></h4>
			   			  	<p>quod mazim placerat</p>
			   			  </li>
			   			  <div class="clearfix"> </div>
			   			</ul>
			   		</div>
			   		<div class="col-md-4">
			   		    <ul class="social_left">
			   			  <li class="facebook"><a href="#"><i class="google"> </i></a></li>
			   			  <li class="fb_text"><h4><a href="#">Follow us on Google +</a></h4>
			   			  	<p>dolore eu feugiat nulla</p>
			   			  </li>
			   			  <div class="clearfix"> </div>
			   			</ul>
			   		</div>
			   		<div class="col-md-4">
			   		    <ul class="social_left">
			   			  <li class="facebook"><a href="#"><i class="linked"> </i></a></li>
			   			  <li class="fb_text"><h4><a href="#">Follow us on LinkedIn</a></h4>
			   			  	<p>quod mazim placerat</p>
			   			  </li>
			   			  <div class="clearfix"> </div>
			   			</ul>
			   		</div>
			   	 </div>
		       </div>
		    </div>
		</div>

{% endblock body%}
