{% extends "static/base_dash.html" %}
{% load staticfiles %}
{% block body %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="{% static 'css/form-style.css' %}">
  <link rel="stylesheet" href="{% static 'scss/form-style.scss' %}">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
  <form action="{% url 'filtered_list' %}" class="contact" method="GET" >
    <fieldset class="contact-inner">

      <p class="contact-input">
        <label for="select" class="select">
          <select name="course" id="course">
            <option value="" selected>Course</option>
            <option value="btech">B-Tech</option>
            <option value="bsc">B.Sc</option>
            <option value="other">Other</option>
          </select>
        </label>
      </p>


      <p class="contact-input">
        <label for="select" class="select">
          <select name="branch" id="branch">
            <option value="" selected>Branch</option>
            <option value="cse">CSE</option>
            <option value="ece">EC</option>
          </select>
        </label>
      </p>

      <!--<p class="contact-input">
        <label for="select" class="select">
          <select name="gender" id="gender">
            <option value="" selected>Gender</option>
            <option value="m">Male</option>
            <option value="f">Female</option>
          </select>
        </label>
      </p>-->

      <p class="contact-input">
        <label for="select" class="select">
          <select name="cgpa" id="cgpa">
            <option value="" selected>CGPA</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
        </label>
      </p>

            <p class="contact-input">
        <label for="select" class="select">
          <select name="arrears" id="arrears">
            <option value="" selected>Arrears</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </label>
      </p>

      <p class="contact-submit">
        <input type="submit" value="Filter">
      </p>
    </fieldset>
  </form>

</body>



{% endblock body %}
