{% extends "static/base_dash.html" %}
{% load staticfiles %}


{% block body %}
<div class="container" style="padding-top:15%">
		<div class="col col-md-6 col-md-offset-3">
		<h2 style="text-align: center">User Updated Successfully!</h2> <br>
		<div class="row">
		<div class="alert alert-success" style="text-align:center">
		You have successfully updated your profile. Thank You
		</div><!--alert alert-success-->
	</div>
</div>
</div>
{% endblock body %}