{% extends "static/base_dash.html" %}

{% load staticfiles %}
{% load register_extras %}
{% block body %}
<script>
$(document).ready(function() {
    $('#id_user_dob').datepicker({
      changeYear: true,
      changeMonth: true,
      showOtherMonths: true,
      selectOtherMonths: true,
      yearRange: "1940:2015"
    });
});
</script>
<div class="overlay" id="update_user">
<div class="container container-top" style="padding-top:5%">
  <div class="row">
    <div class="col col-md-6 well col-md-offset-5" >
	<form class="form-horizontal" id="registerForm" method="POST"
    enctype="multipart/form-data" action="{% url 'viewprofile' %}">
    <fieldset>
        {% csrf_token %} {% load tz %}
        {% for field in form.visible_fields %}
        <div id="div_{{ field.html_name }}"
            class="form-group{% if field.errors %} has-error{% endif%}">
            <label class="col-sm-4 control-label" for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
			<div class="col-md-6 cnt-inpt">
				{{ field|addcss:"form-control" }}
				<div class="text-muted pull-right">
                    <small>{{ field.help_text }}</small>
                </div> <!-- form-group -->
                <span class="help-block">
                    {% for error in field.errors %} {{error }} {% endfor %}
                </span> <!-- help-block -->
            </div> <!-- col-sm-4 -->


		</div>
		{% endfor %}
        {% for hidden in user_form.hidden_fields %} {{ hidden }} {% endfor %}

			<div class="form-group" style="text-align:center">
								 <button type="submit" class="btn-new btn-white" >Update Profile <i class="fa fa-paper-plane"></i></button>
				 </div> <!-- form-group -->
		 </fieldset>
	 </form>
 </div>

 <div class="col-md-6 col-md-offset-5">
   <div class="content" style="padding-top: 5%;text-align:right" >
     <p class="lead" style=" padding-bottom: 40px; font-size: 25px; font-weight:350;">
       Keeping your profile updated makes it easy for others to know
     who you <em>really</em> are <i class="fa fa-spinner fa-pulse"></i>  </p>


   </div>
 </div>


 </div>
</div>
 </div>


{% endblock body %}